.tags-input-container {
  position: relative;
}

.tags-input {
  display: flex;
  border: 1px solid black;
  padding: 10px;
}

.tags-tag {
  border: 1px solid black;
  padding: 0 2px;
  margin: 0 2px;
  cursor: pointer;
}

.tags-tag-input {
  outline: none;
  border: 0;
  width: 100%;
}

.tags-autocomplete {
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  border: 1px solid black;
  height: 325%;
  width: 100%;
  cursor: pointer;
}

.tags-autocomplete > .selected {
  font-weight: bolder;
}
